<% var path %>
<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="/admin">
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/orders">
                    Orders
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/brands?c_page=1&p_page=10">
                    Brands
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/product-brands?c_page=1&p_page=30">
                    Product brands
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/categories?c_page=1&p_page=10">
                    Categories
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/secondary-categories?c_page=1&p_page=10">
                    Secondary categories
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/tertiary-categories?c_page=1&p_page=10">
                    Tertiary categories
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/add-product">
                    Add new product
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/products?c_page=1&p_page=30&category_slug=all">
                    Products
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/products/recommendations?c_page=1&p_page=30">
                    Recommend products
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/products/bestsellers?c_page=1&p_page=30">
                    Bestseller products
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/add-banners">
                    Add banners and ads to pages
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/home-banners">
                    Home banners
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/customers?c_page=1&p_page=30">
                    Customers
                </a>
            </li>
        </ul>
    </div>
</nav>