<div class="modal feedback-modal d-none">
    <div class="feedback-modal__content">
        <h2 class="feedback-modal__heading">Ваша оценка:</h2>
        <form class="feedback-modal__form" id="<%= product.product_id %>">
            <div class="feedback-modal__rating"></div>
            <input class="feedback-modal__rating-number d-none" type="number" min="0" max="5" value="0">
            <label class="feedback-modal__label">
                <span>Комментарий</span>
                <textarea class="feedback-modal__textarea" placeholder="Другие впечатления о модели" required minlength="3"></textarea>
            </label>
            <button class="feedback-modal__submit" type="submit">Оставить отзыв</button>
        </form>
        <button class="feedback-modal__close" id="feedback-modal-closer">
            <img src="/images/icons/feedbackmodalclose.svg" alt="">
        </button>
    </div>
</div>