<footer class="footer">
    <div class="container">
        <div class="footer__top">
            <div class="footer__item">
                <h2 class="footer__heading">Наши предложения</h2>
                <ul class="footer__ul">
                    <li class="footer__li">
                        <a class="footer__link" href="/">Meros Дисконт</a>
                    </li>
                    <li class="footer__li">
                        <a class="footer__link" href="/">Meros Мерч Бренд</a>
                    </li>
                    <li class="footer__li">
                        <a class="footer__link" href="/">Cкидки</a>
                    </li>
                    <li class="footer__li">
                        <a class="footer__link" href="/">Новинки</a>
                    </li>
                    <li class="footer__li">
                        <a class="footer__link" href="/">Коллекции</a>
                    </li>
                    <li class="footer__li">
                        <a class="footer__link" href="/">Распродажа</a>
                    </li>
                    <li class="footer__li">
                        <a class="footer__link" href="/">Популярные товары</a>
                    </li>
                    <li class="footer__li">
                        <a class="footer__link" href="/">Рекомендуемые товары</a>
                    </li>
                </ul>
            </div>
            <div class="footer__item">
                <h2 class="footer__heading">Сервис и поддержка</h2>
                <ul class="footer__ul">
                    <li class="footer__li">
                        <a class="footer__link" href="/">Бренды</a>
                    </li>
                    <li class="footer__li">
                        <a class="footer__link" href="/">Услуги</a>
                    </li>
                    <li class="footer__li">
                        <a class="footer__link" href="/">Оплата</a>
                    </li>
                    <li class="footer__li">
                        <a class="footer__link" href="/">Доставка</a>
                    </li>
                    <li class="footer__li">
                        <a class="footer__link" href="/">Обратная связь</a>
                    </li>
                    <li class="footer__li">
                        <a class="footer__link" href="/">Вопросы и ответы</a>
                    </li>
                    <li class="footer__li">
                        <a class="footer__link" href="/">Публичная оферта</a>
                    </li>
                </ul>
            </div>
            <div class="footer__item">
                <h2 class="footer__heading">О компании</h2>
                <ul class="footer__ul">
                    <li class="footer__li">
                        <a class="footer__link" href="/">О нас</a>
                    </li>
                    <li class="footer__li">
                        <a class="footer__link" href="/">Отзывы</a>
                    </li>
                    <li class="footer__li">
                        <a class="footer__link" href="/">Как пройти</a>
                    </li>
                    <li class="footer__li">
                        <a class="footer__link" href="/">Вакансии и карьера</a>
                    </li>
                    <li class="footer__li">
                        <a class="footer__link" href="/">Почему нам доверяют</a>
                    </li>
                </ul>
            </div>
            <div class="footer__item">
                <h2 class="footer__heading">Для связи</h2>
                <ul class="footer__ul">
                    <li class="footer__li">
                        <a class="footer__link" href="tel: 998979924878">+998 97 992 48 78</a>
                    </li>
                    <li class="footer__li">
                        <a class="footer__link" href="tel: 998711234878">+998 71 123 48 78</a>
                    </li>
                    <li class="footer__li">
                        <a class="footer__link" href="mailto: merosshop@gmail.com">merosshop@gmail.com</a>
                    </li>
                </ul>
            </div>
            <div class="footer__item">
                <h2 class="footer__heading">Мы в соцсетях</h2>
                <ul class="socials">
                    <li class="socials__item">
                        <a class="socials__link" href="/">
                            <img src="/images/icons/instagram.svg" alt="instagram icon">
                        </a>
                    </li>
                    <li class="socials__item">
                        <a class="socials__link" href="/">
                            <img src="/images/icons/telegram.svg" alt="telegram icon">
                        </a>
                    </li>
                    <li class="socials__item">
                        <a class="socials__link" href="/">
                            <img src="/images/icons/facebook.svg" alt="facebook icon">
                        </a>
                    </li>
                </ul>
                <a class="app-store" href="/">
                    <img src="/images/logos/playmarket.svg" alt="play market">
                </a>
                <a class="app-store" href="/">
                    <img src="/images/logos/appstore.svg" alt="app store market">
                </a>
            </div>
        </div>
        <div class="footer__bottom">
            <p>Meros Shop © 2021. Все права защищены.</p>
        </div>
    </div>
</footer>
<script src="/scripts/splide.min.js"></script>
<script src="/scripts/slider.js"></script>
<script src="/scripts/custom-select.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
<script src="/scripts/jquery-ui.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/js/lightslider.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js'></script>
<script src="/scripts/product-gallery.js"></script>
<script src="/scripts/_pagination.js"></script>
<script src="/scripts/bundle.js"></script>
<script></script>
</body>
</html>