<div class="modal product-info-modal d-none">
    <div class="product-info-modal__content">
        <div class="product-info-modal__gallery">
            <div class="product-info-modal__display">
                <img src="https://picsum.photos/350/450" alt="">
                <span class="product-card__discount">54%</span>
            </div>
            <div class="product-info-modal__thumbs">
                <div class="product-info-modal__thumbs__item">
                    <img src="https://picsum.photos/65/70" alt="">
                </div>
                <div class="product-info-modal__thumbs__item">
                    <img src="https://picsum.photos/65/70" alt="">
                </div>
                <div class="product-info-modal__thumbs__item">
                    <img src="https://picsum.photos/65/70" alt="">
                </div>
                <div class="product-info-modal__thumbs__item">
                    <img src="https://picsum.photos/65/70" alt="">
                </div>
            </div>
        </div>
        <div class="product-info-modal__info">
            <h2 class="product-name">Триллионер слушает</h2>
            <div class="product-short-info">
                <h3>Характеристики</h3>
                <div class="product-short-info__part">
                    <ul class="product-short-info__ul">
                        <li class="product-short-info__li">
                            <div class="product-short-info__definition">
                                Автор
                            </div>
                            <div class="product-short-info__value">
                                <a href="#">Шамиль Аляутдинов</a>
                            </div>
                        </li>
                        <li class="product-short-info__li">
                            <div class="product-short-info__definition">
                                Языки
                            </div>
                            <div class="product-short-info__value">
                                Русский
                            </div>
                        </li>
                        <li class="product-short-info__li">
                            <div class="product-short-info__definition">
                                Надпись
                            </div>
                            <div class="product-short-info__value">
                                Кириллица
                            </div>
                        </li>
                        <li class="product-short-info__li">
                            <div class="product-short-info__definition">
                                Издательство
                            </div>
                            <div class="product-short-info__value">
                                Диля
                            </div>
                        </li>
                        <li class="product-short-info__li">
                            <div class="product-short-info__definition">
                                Год выпуска
                            </div>
                            <div class="product-short-info__value">
                                2015
                            </div>
                        </li>
                        <li class="product-short-info__li">
                            <div class="product-short-info__definition">
                                Количество листов
                            </div>
                            <div class="product-short-info__value">
                                656
                            </div>
                        </li>
                        <li class="product-short-info__li">
                            <div class="product-short-info__definition">
                                Формат издания
                            </div>
                            <div class="product-short-info__value">
                                150x220
                            </div>
                        </li>
                        <li class="product-short-info__li">
                            <div class="product-short-info__definition">
                                ISBN:
                            </div>
                            <div class="product-short-info__value">
                                978-5-4236-0386-1
                            </div>
                        </li>
                    </ul>
                </div>
                <button class="product-info-modal__more-info">Больше информации о товаре</button>
                <div class="product-count">
                    <h4>Количество: </h4>
                    <div class="product-count__change">
                        <button>
                            <img src="/images/icons/minus.svg" alt="">
                        </button>
                        <span>1</span>
                        <button>
                            <img src="/images/icons/plus.svg" alt="">
                        </button>
                    </div>
                </div>
                <div class="product-price">
                    <span class="price">50 000 сум</span>
                    <del>25 000 сум</del>
                </div>
            </div>
            <div class="product-actions">
                <div>
                    <button class="button-blue-sm mr-20">Купить</button>
                    <button class="button-outline-sm">В корзину</button>
                </div>
                <div>
                    <button class="add-to-favourite">
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M9.95221 0.72685C10.3146 -0.242283 11.6854 -0.242284 12.0478 0.72685L14.353 6.89165L20.9284 7.17897C21.9621 7.22414 22.3857 8.52786 21.5759 9.17198L16.4252 13.2694L18.1839 19.6117C18.4603 20.6088 17.3513 21.4145 16.4885 20.8435L11 17.211L5.5115 20.8435C4.64868 21.4145 3.53967 20.6088 3.81614 19.6117L5.5748 13.2694L0.424063 9.17198C-0.385656 8.52786 0.0379494 7.22414 1.07163 7.17897L7.64704 6.89165L9.95221 0.72685ZM11 2.71561L9.08907 7.82607C8.93186 8.24651 8.53856 8.53226 8.09012 8.55186L2.63927 8.79004L6.9091 12.1867C7.26038 12.4661 7.41061 12.9284 7.29067 13.361L5.83279 18.6187L10.3826 15.6074C10.7569 15.3597 11.2431 15.3597 11.6174 15.6074L16.1672 18.6187L14.7093 13.361C14.5894 12.9285 14.7396 12.4661 15.0909 12.1867L19.3607 8.79004L13.9099 8.55186C13.4614 8.53226 13.0681 8.24651 12.9109 7.82607L11 2.71561Z"
                                fill="" />
                        </svg>
                        <span>Добавить в избранное</span>
                    </button>
                </div>
            </div>
        </div>
        <button class="product-info-modal__close">
            <img src="/images/icons/times-modal.svg" alt="">
        </button>
    </div>
</div>