<div class="warning-modal d-none">
    <div class="warning-modal-content">
        <h3><%= data.header.cabinet.leave %></h3>
        <p>Вы действительно хотите выйти из всего устройства?</p>
        <a class="button-blue-sm" style="width: max-content" href="/users/logout-all">Да выйти</a>
        <button class="warning-modal-close">
            <img src="/images/icons/times-modal.svg" alt="">
        </button>
    </div>
</div>