<%- include('partials/header') %>

<section class="auth-section reset-password">
    <div class="auth-card" id="reset-password">
        <h2>Восстановление пароля</h2>

        <form class="auth__form" id="reset_password_phone">
            <label class="auth-label">
                <span>Телефон</span>
                <input class="input" type="tel" id="user_phone" name="phone">
            </label>
            <label class="auth-checkbox">
                <span>Введите номер телефона чтобы получить код активации</span>
            </label>
            <button class="button-blue" type="submit" disabled>
                Получить код активации
                <img class="loading-spinner" src="/images/icons/spinner.svg" alt="">
            </button>
        </form>
    </div>

<!--    <div class="auth-card">-->
<!--        <h2>Восстановление<br>пароля</h2>-->

<!--        <form class="auth__form" action="/reset-password" method="post">-->
<!--            <label class="auth-label">-->
<!--                <span>Телефон</span>-->
<!--                <input class="input" type="tel" id="user_phone" name="user_phone">-->
<!--            </label>-->
<!--            <label class="auth-checkbox">-->
<!--                <span>Введите номер телефона чтобы получить код активации</span>-->
<!--            </label>-->
<!--            <label class="auth-label">-->
<!--                <span>Код</span>-->
<!--                <input class="input" type="text" id="reset_code" name="reset_code" minlength="5" maxlength="5" data-code="true"-->
<!--                       placeholder="Введите код активации">-->
<!--            </label>-->
<!--            <label class="auth-checkbox reset-password-deadline">-->
<!--                <span>Отправить код еще раз </span><time>01:59</time>-->
<!--            </label>-->
<!--            <button class="button-blue" type="submit">Продолжить</button>-->
<!--        </form>-->
<!--    </div>-->

<!--    <div class="auth-card">-->
<!--        <h2>Восстановление<br>пароля</h2>-->

<!--        <form class="auth__form" action="/reset-password" method="post">-->
<!--            <label class="auth-label">-->
<!--                <span>Изменение пароля</span>-->
<!--                <input class="input" type="password" id="new_password" name="new_password" placeholder="Новый пароль">-->
<!--            </label>-->
<!--            <label class="auth-checkbox">-->
<!--                Пароль должен состоять из цифр, заглавных букв и спец символа-->
<!--            </label>-->
<!--            <label class="auth-label mb-30">-->
<!--                <span>Повторите пароль</span>-->
<!--                <input class="input" type="password" id="new_password_repeat" name="new_password_repeat" placeholder="Новый пароль">-->
<!--            </label>-->
<!--            <button class="button-blue" type="submit">Сменить пароль</button>-->
<!--        </form>-->
<!--    </div>-->
</section>

<%- include('partials/catalog-modal') %>
<%- include('partials/categories-modal') %>

<%- include('partials/footer') %>