<%- include('partials/header') %>

<section class="auth-section reset-password">
    <div class="auth-card">
        <h2>Восстановление пароля</h2>
        <form class="auth__form reset-password-form">
            <div class="alert d-none"></div>
            <label class="auth-label">
                <span>Изменение пароля</span>
                <input class="input" type="password" id="new_password" name="new_password" placeholder="Новый пароль">
            </label>
            <label class="auth-checkbox">
                Пароль должен состоять из цифр, заглавных букв и спец символа
            </label>
            <label class="auth-label mb-30">
                <span>Повторите пароль</span>
                <input class="input" type="password" id="new_password_repeat" name="new_password_repeat" placeholder="Новый пароль">
            </label>
            <button class="button-blue" type="submit" disabled>
                Сменить пароль
                <img class="loading-spinner" src="/images/icons/spinner.svg" alt="">
            </button>
        </form>
    </div>
</section>

<%- include('partials/catalog-modal') %>
<%- include('partials/categories-modal') %>

<%- include('partials/footer') %>